
/*Track ambulance page */
.login-page {
  position: relative;
  z-index: 10;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-header{
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.group{
  text-align:left;
 text-overflow: clip;
  margin-bottom: 5px;
}
.group label{
  display: inline;
  font-size: 1.2rem;
  font-weight: 500;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 8px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 19px;
}
.form [type="text"]{
  width:100%;
}
.form [type="checkbox"]{
  margin-right: 5px;
}
.form button {
  font-family: "Roboto", sans-serif;
  border-radius:19px;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  /* border: 1px solid #0099cc; */
}
.form button:hover {
  /* border: 1px solid #0099cc; */
  background-color: #00aacc;
  color: #ffffff;
}

.form button:disabled,
button[disabled]{
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}

@media screen and (min-width:1700px) {
  .form{
    width: 509px;
    height:455px;
    padding: 60px;
    font-size: 2rem;
  }
  .login-header{
    font-size: 2rem;
  }
  .group{
    margin-bottom: 20px;
  }
  .group label{
    font-size: 1.8rem;
  }
  .form input{
    font-size: 1.7rem;
    padding:20px;
  }
  .form button{
    font-size: 1.5rem;
    padding:25px;
  }
  .form [type="checkbox"]{
    width:20px;
    margin:5px;
    height:20px;
  }
}
/*Track ambulance page */