.outer-firebase{
    flex-direction: column;
    display: flex;
    height: 65vh;
    margin: 40px auto !important;
}

.logo-title{
    color: royalblue;
}
 
.otp-input-border{
    border: 1px solid blue;
}
/* FIREBASE */ 
.firebase-input{
    padding:auto 30px;
    border-radius: 0.6875rem !important;
    
}
@media  (max-width:400px) { 
    .firebase-input{
        padding: 0 -2rem !important;}
  
.firebaseui-card-header{
    padding:16px 0 0;
}

}
@media screen and (max-width: 360px) {
    .outer-firebase {
      height:70vw;
      margin:10px auto !important;
    }

    .firebaseui-recaptcha-container > div > div {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }
  }


  @media only screen and (max-width: 375px) {
      .login{
          width: 100vw;
      }
      .home{
        padding: 2rem 0;   
    }
    .span-login{
        display: block;
    }
  }
  .firebase-container{
      border-radius: 25px !important;
  }